@keyframes opacityFade { 0% { opacity:0; } 100% { opacity:1; } }

:root {
--background:#FFFFFF;
--nhsblue:#005EB8;
--button:#00A499;
--tdOdd:#D3D3D3;
--tdEven:#EEEEEE;
}

.faR { font-family:FARegular, Helvetica; font-size:1.3em; }
.faS { font-family:FASolid, Helvetica; font-size:1.3em; }

* { font-family:Helvetica; box-sizing:border-box; }
button { padding:10px; min-width:45px; min-height:45px; border:2px solid var(--background); color:var(--background); background-color:var(--button); border-radius:999px; }
button + button { margin-left:1px; }
textarea { resize:none; height:80px; }
