@font-face { font-family:FARegular; src:url('../resources/fa-regular-400.woff2') format('woff2'); } .faR { font-family:FARegular; font-size:1.3em; }
@font-face { font-family:FASolid; src:url('../resources/fa-solid-900.woff2') format('woff2'); } .faS { font-family:FASolid; font-size:1.3em; }

@keyframes opacityFade { 0% { opacity:0; } 100% { opacity:1; } }

:root {
--background:#EEEEEE;
--nhsblue:#005EB8;
}

* { font-family:Helvetica; box-sizing:border-box; }
button { padding:10px; min-width:45px; min-height:45px; }
textarea { resize:none; height:80px; }
